
<ul *ngFor="let player of players" class="list-group list-group-players">
  <h3>{{ player.name }}</h3>
  <li class="list-group-item"><b>shirtNumber</b>:{{ player.shirtNumber }}</li>
  <li class="list-group-item"><b>age</b>:{{ player.age }}</li>
  <li class="list-group-item"><b>presence</b>:{{ player.presence }}</li>
  <li class="list-group-item"><b>goals</b>:{{ player.goals }}</li>
  <li class="list-group-item"><b>yellowCards</b>:{{ player.yellowCards }}</li>
  <li class="list-group-item"><b>redCards</b>:{{ player.redCards }}</li>
  <li class="list-group-item"><b>role</b>:{{ player.role }}</li>
</ul>
